{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="login-logo">
        <img src="{{ (app.request.getSchemeAndHttpHost() ~ asset('themes/' ~ _theme.name ~ _theme.images.logo))|base64 }}" alt="{{ game_name }}" />
    </div>

    {% if loginSuffix %}
        <div class="panel panel-default login-form">
            <div class="panel-body">
                {{ loginSuffix }}
            </div>
        </div>
    {% endif %}

    <div class="panel panel-default login-form">
        <div class="panel-heading">
            {{ page }}
        </div>
        <div class="panel-body">
            <ul class="nav nav-pills nav-justified">
                <li>
                    <a href="{{ path('login') }}">Login</a>
                </li>
                <li>
                    <a href="{{ path('register') }}">Register</a>
                </li>
                <li>
                    <a href="#">News</a>
                </li>
            </ul>
            {{alerts}}
            {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.username) }}
            {{ form_row(registrationForm.plainPassword) }}
            <div class="row">
                <div class="col-xs-8 text-left">
                    {{ form_row(registrationForm.agreeTerms) }}
                </div>
                <div class="col-xs-4">
                    <div class="text-right">
                        <button type="submit" class="btn btn-default">Register</button>
                    </div>
                </div>
            </div>
            {{ form_end(registrationForm) }}
        </div>
    </div>

    <div class="panel panel-default login-form">
        <div class="panel-body">
            {% if loginPostfix %}
                {{ loginPostfix }}
                <hr />
            {% endif %}
            <div class="row text-center">
                <div class="col-md-6">
                    Gangsters: {{ registeredUsers }}
                </div>
                <div class="col-md-6">
                    Gangsters Online: {{ usersOnlineNow }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
